<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<!-- 调用dubbo提供的用户中心接入方写入RPC服务 -->
	<dubbo:reference interface="com.run.usc.base.query.AccSourceBaseQueryService"
		id="accSourceQuery" check="false" />

	<!-- 调用dubbo提供的用户中心接入方查询RPC服务 -->
	<dubbo:reference interface="com.run.usc.base.query.TenAccBaseQueryService"
		id="tenaccQuery" check="false" />

	<!-- 调用dubbo提供的用户中心接入方查询RPC服务 -->
	<dubbo:reference interface="com.run.usc.base.query.TenementBaseQueryService"
		id="tenement" check="false" />


	<!-- 调用dubbo提供的用户中心写入RPC服务 -->
	<dubbo:reference interface="com.run.usc.base.query.UserBaseQueryService"
		id="userQueryRpcService" check="false" timeout="13000" />

	<!-- 调用dubbo提供的用户中心接入方写入RPC服务 -->
	<dubbo:reference interface="com.run.usc.base.query.AccUserBaseQueryService"
		id="accUserQuery" check="false" />

	<!-- 服务查询 -->
	<dubbo:reference interface="com.run.governance.service.query.GovernanceServices"
		id="governanceServices" check="false" />

	<!-- 服务查询 -->
	<dubbo:reference interface="com.run.authz.base.query.UserRoleBaseQueryService"
		id="userRoleBaseQueryService" check="false" />

</beans>