<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 本地调试 -->
	<!-- <dubbo:reference id="wUserInfoByMongodbCommonRest" interface="com.run.shared.service.ucs.api.writer.user.UserBaseRestWriterService" url="dubbo:http://172.168.0.100:8888/user/register"/> -->
    <!-- 调用dubbo提供的用户中心写入RPC服务 -->
	<!-- <dubbo:reference interface="com.run.authz.base.query.AuthzBaseQueryService" id="authzqueryRpcService" check="false"/> -->
	
		<!-- 调用dubbo提供的用户中心接入方查询RPC服务 -->
	<dubbo:reference interface="com.run.usc.base.query.TenAccBaseQueryService" id="tenaccQuery" check="false" />
	
	<!-- 可靠消息实现 -->
	<dubbo:reference interface="com.run.reliableNews.server.NewsService" id="newService" check="false"/>
	
</beans>